.side-nav {
    .side-menu {
        height: 48px;
        @apply flex items-center text-white relative  ;
        .side-menu__title {
            @apply w-full ml-3 flex items-center;
            .side-menu__sub-icon {
                @apply transition ease-in duration-100 ml-auto mr-5;
                svg {
                    @apply w-4 h-4;
                }
            }
        }
    }
    > ul {
        ul {
            @apply hidden bg-black/10 rounded-lg dark:bg-darkmode-900/30;
            &.side-menu__sub-open {
                @apply block;
            }
            .side-menu__icon:before {
                @apply hidden;
            }
            li a {
                &:not(.side-menu--active) {
                    @apply text-white/70 dark:text-slate-400;
                }
                &.side-menu--active .side-menu__title {
                    @apply font-medium;
                }
            }
            ul {
                @apply hidden bg-black/10 rounded-lg dark:bg-darkmode-900/30;
            }
        }
    }
}

@keyframes intro-devider-animation {
    100% {
        @apply opacity-100;
    }
}

@keyframes intro-menu-animation {
    100% {
        @apply opacity-100;
        transform: translateX(0px);
    }
}

@keyframes intro-submenu-animation {
    100% {
        @apply opacity-100;
        transform: translateX(0px);
    }
}

@keyframes intro-active-menu-animation {
    100% {
        @apply z-10;
    }
}
